<br />
<div class="booyah-box">
  <%# %>
  <%= grid(@oven_logs_grid, upper_pagination_panel: true, ) do |g|

    g.column name: 'Customer', attribute: 'customer' do |oven_log|
      oven_log.customer
    end

    g.column name: 'Work Order', attribute: 'work_order' do |oven_log|
      oven_log.work_order
    end

    g.column name: 'Purchase Order', attribute: 'purchase_order' do |oven_log|
      oven_log.purchase_order
    end

    g.column name: 'Stress in', attribute: 'stress_in', filter_type: :bootstrap_datepicker do |oven_log|
      oven_log.stress_in
    end


    g.column name: 'Stress out', attribute: 'stress_out', filter_type: :bootstrap_datepicker do |oven_log|
      oven_log.stress_out
    end


    g.column name: 'Asset Number', attribute: 'stress_asset', filter_type: :false do |oven_log|
      oven_log.stress_asset
    end

    g.column name: 'HER in', attribute: 'her_in', filter_type: :bootstrap_datepicker do |oven_log|
      oven_log.her_in
    end


    g.column name: 'HER out', attribute: 'her_out', filter_type: :bootstrap_datepicker do |oven_log|
      oven_log.her_out
    end


    g.column name: 'Asset Number', attribute: 'her_asset', filter_type: :false do |oven_log|
      oven_log.her_asset
    end

    g.column name: 'Operator' do |oven_log|
      oven_log.operator
    end
  end %>
</div>
