.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('always_grey.png');
  color: #000000;
  font-color: black !important;
}
.navbar-default .navbar-brand  {
  color: #000000 !important;
}

.has-error .help-block{
  color:rgb(193, 18, 18) !important;
}

.new-log {
  background: url('greywall.png');
  color: white !important;
}

a:-webkit-any-link {
  color: #white !important;
}

.twobuttons{
  display: inline-block;
}

.navbar-default .navbar-nav > li > a {
  color: #000000 !important;
  font-weight: 200px;
}

a.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: black;
  font-color: #000000 !important;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #6a6a6a;
  -webkit-box-shadow: 1px 1px 2px 0 #6a6a6a;
  box-shadow: 1px 1px 2px 0 #6a6a6a;
  background-image: url("low_contrast_linen.png");
  border: 1px solid #ccc;
  border-color: #474747 #6a6a6a #6a6a6a #474747;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}
.left {
  text-align: left;
}

.right {
  text-align: right;
}

body {
  background-image: url("greywall.png");
}
